body {
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #eee9e5;
}
.Quem-Somos {
background-color: #5ae6abd2;
color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: rgba(142, 142, 223, 0.884);
    color: #eee9e5;
}

.servicos {
    background-color: rgb(169, 182, 182);
    color: #eee9e5;
}

.bg-footer{
    background-color: rgb(0, 0, 0);
    color: #eee9e5;
}